@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
}

:root{
    --primary-black: #241e20;
    --primary-dark: #85211f;
    --primary-light: #FDCA5D;
    --primary-gradient: radial-gradient(38.89% 167.29% at 52.02% 43.18%, rgba(231, 203, 105, 0.97) 0%, rgba(231, 195, 72, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(26.22% 112.81% at 47.92% 47.87%, #E84632 0%, rgba(237, 51, 28, 0.46) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

@font-face {
    font-family: "Cooper Black";
    src: url("./assets/fonts/CooperBlack.otf");
}

nav, footer{
    background-color: #241E20 !important;
}

#tribal-gateway {
    font-family: "Cooper Black", serif;
    color: var(--primary-light);
    font-size: 20px;
}

header{
    height: 729px;
    background: var(--primary-gradient), url(./assets/img/airplane-image.png);
    background-blend-mode: normal, darken;
    background-repeat: no-repeat;
    background-position-x: 80%;
}

header div.inner-header-container{
    padding-top: 85px;
}

div.hero-text-container{
    width: 50%;
}
 
header div.hero-text{
    font-size: 60px;
    line-height: 96px;
}

div.inner-header-container button{
    width: 432px;
    height: 85px;
    max-width: 90%;
    max-height: fit-content;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FDCA5D;
    font-size: 30px;
    line-height: 54px;
    border: 0px;    
}

div.importance-text{
    font-size: 24px;
    line-height: 36px;
    background-color: #FDCA5D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 360px ;
    max-width: 95%;
}

button#call-to-action2{
    width: 700px;
    max-width: 90%;

    background: rgba(232, 70, 50, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0px;

    font-weight: 700;
    font-size: 25px; 
    line-height: 60px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.modal h1{
    color: #ED331C;
    font-weight: 700;
}

div.modal  .modal-footer > *{
    color: #E84632CC;
}

.progress-bar{
    background: #ED331C75;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

.expence-price{
    background-color: #FDCA5D;
    height: min-content;
}

div#expence-total{
    background-color: #FDCA5D;
    width: 300px;
    max-width: 90%;
}

/* media queries */

@media (max-width: 1000px) {
    div.hero-text-container{
        width: 85%;
    }

    header div.hero-text{
        font-weight: 500;
        font-size: 45px !important;
        line-height: 60px;
    }
}



@media (max-width: 700px) {
    .nav-title{
        /* display: none;  */
        font-size: 16px;   
    }
    header{
        /* height: 1310px; */
        background: linear-gradient(271.23deg, rgba(231, 203, 105, 0.97) 15.73%, rgba(231, 195, 72, 0) 68.76%), radial-gradient(26.5% 114.04% at 47.92% 47.87%, rgba(232, 70, 50, 0.6) 0%, rgba(237, 51, 28, 0.46) 100%), url(./assets/img/airplane-image.png);
        background-position-y: bottom;
        background-position-x: center;
        background-size: 130% auto;
        background-repeat: no-repeat;
    }

    div.hero-text-container{
        width: 75%;
    }

    div#flight-muckup-img-container{
        bottom: 25% !important;
    }
}

@media (max-width: 430px) {
    .nav-title{
        display: none; 
    }

    div.hero-text-container{
        width: 100%;
    }

}

@media (max-width: 360px) {
    
    .price-container{
        flex-wrap: wrap;
    }
}